*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-chat-screen{
    display: flex;
    height: 100dvh;
    width: 100%;
    background-color: #161717; 
}

.container-chat{
    display: flex;
    flex-direction: column;
    flex: 24;
    height: 100dvh;
    background-color: #1e1f1f;/*#161717*/

}

@media (max-width: 900px) {
  .container-contact-list-and-searche, .container-navbarside {
    display: none;
  }

}

@media (max-width: 600px) {

  .chat-bar {
    font-size: 0.9rem;
  }

  .message {
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}
