*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-contact-screen{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-contact-list-and-search{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #343636;
    flex: 10;
    height: 100dvh;
    background-color: #161717;
}