.container-message {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0.125rem 2.813rem;
  padding: 0.375rem 0.5rem 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.4;
  word-break: break-word;
  background-color: #202c33;
  color: white;
  max-width: clamp(518px, 37vw, 700px);
  width: fit-content;
  position: relative;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Mensaje propio */
.mine {
  align-self: flex-end;
  background-color: #005c4b;
  border-bottom-right-radius: 0;
}

/* Mensaje del otro */
.theirs {
  align-self: flex-start;
  background-color: #202c33;
  border-bottom-left-radius: 0;
}

.message-text {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  white-space: pre-wrap;
  word-break: break-word;
}

.message-text span:first-child {
  max-width: 100%;
}

.message-time {
  font-size: 0.688rem;
  opacity: 0.7;
  flex-shrink: 0;
  align-self: flex-end;
}

.delete-button {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #2a2a2a;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  padding: 0.25rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

@media (max-width: 440px) {
  .container-message {
    margin: 0.125rem 0.8rem;
  }
}
